{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The main content area on the homepage }}
<main class="content" role="main">
	<article class="{{post_class}}">
		<h1 class="tag-title">Viewing articles on <span>{{tag.name}}</span></h1>
	</article>
    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

</main>
